<%= stylesheet_link_tag 'dashboard'%>


<div class="container-fluid">
	<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><%= link_to "Overview", accounts_dashboard_path %></a></li>
            <li><%= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
            <li><%= link_to "Accounts", crud_accounts_path %></li>
            <li><%= link_to "Transactions", transactions_path %></li>
          </ul>
</div>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top: 60px">
	<h1 class="page-header" style="color: black">Transactions</h1>


<table class="table">
  <tr>
    <th>Direction1</th>
    <th>Direction2</th>
    <th>Amount</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.dir1 %></td>
    <td><%= transaction.dir2 %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.description %></td>
    <td><%= link_to 'Show', transaction %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Transaction', new_transaction_path %>
</div>

