<h2> New Account</h2>

<%= form_for(@account) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Type %>
    <%= f.select "account_type", options_for_select(%w[Asset Liability Expense Equity]) %>
  </div>
  <div class="field">
	<%= f.label :Amount %>
	<%= f.text_field :balance %>
  </div>
  <div class="actions">
    <%= f.submit :id => "submit"%>
  </div>
<% end %>
